.app {
	background-color: black;
	background-image: url("./assets/image.jpg");
}

main {
	min-height: 100vh;
}
.homeNav {
	margin-left: 3%;
}

.homeNav li {
	color: lightgrey;
	display: inline;
	margin-right: 25px;
}

.socialGroup {
	display: inline;
	margin-left: 6%;
}
.socialIcon {
	margin-right: 25px;
	margin-top: 20px;
	padding: 5px;
	cursor: pointer;
	background-color: grey;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
.socialIcon :hover {
	color: blue;
}

.text {
	color: white;
	text-align: center;
}

.title {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3rem;
	font-weight: bolder;
	margin-top: 15%;
	margin-left: 6%;
}

.subtitle {
	color: lightgrey;
	font-size: 25px;
	margin-top: 1%;
	margin-left: 6%;
}
