@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
.navbar {
	cursor: pointer;
}

.title {
	text-align: justify;
	padding: 14% 7%;
	font-family: "Kaushan Script", cursive;
	color: white;
}

.title-name {
	font-size: 70px;
	font-weight: bold;
	color: #45fc03;
	cursor: pointer;
}

.note {
	color: gray;
}

.title-about {
	text-align: justify;
	padding-top: 14%;
	padding-left: 7%;
	font-family: "Kaushan Script", cursive;
	color: #45fc03;
}

.sub-about {
	padding-left: 7%;
	font-family: "Kaushan Script", cursive;
	color: white;
}

.card-about {
	width: 35rem;
	margin-left: 7%;
	color: gray;
	font-family: "Kaushan Script", cursive;
	font-size: medium;
}